# 가상환경
.vscod
# 환경변수
.env
#파이썬
*.splite3
*.db
*.__pycache__

# 데이터셋 무시
*.txt
*.gz
4. deep_learning/cifar-10-python.tar.gz
4. deep_learning/data/cifar-10-python.tar.gz
4. deep_learning/data/horse-or-human/
4. deep_learning/14.LSTM_RNN.ipynb
*.png

# 20newsgroups 데이터셋
5. LLM/20newsbydate/
5. LLM/11_4.attention.ipynb
5. LLM/training_checkpoints
1. python/직장인반
5. LLM/KoAlpaca.jsonl
5. LLM/sample.csv
6.openAI/KoAlpaca.jsonl
6.openAI/5/chroma_db


*bin
*pkl
*json

team_pro_3
7.Multimodal/datasets
vit_local_finetuned
vit_local_finetuned_final
logs