# 가상환경
.vscod
# 환경변수
.env
#파이썬
*.splite3
*.db
*.__pycache__

# 데이터셋 무시
*.txt
*.gz
deep_learning/cifar-10-python.tar.gz
deep_learning/data/cifar-10-python.tar.gz
deep_learning/data/horse-or-human/
deep_learning/14.LSTM_RNN.ipynb
*.png

# 20newsgroups 데이터셋
LLM/20newsbydate/